body {
	background-image: url(../img/textura2.jpg);
	background-size: cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
	
    /*background-color:#f1f1f1;*/
    font-family: italic;
}
.sidebear{
	
}
.sombra{
	box-shadow: 2px 2px 2px 5px #949494;
}
.footer{
 background-color: #31708f;
 color: white;
 font-size: 30px;
}

.fotoperfil{
	
    height: 100%;
    width: 100%;
}

.nombre{
	background-color: #31708f;
	color: white;
	font-size: 35px;
	box-shadow: 2px 2px 2px #949494;
}
#lista1 ul { 
	list-style: none;
	text-decoration: none;
}
#lista1 ul li{ 
 margin-top: 10px;
 
 font-size: 18px;
 margin-bottom: 10px;

}
#lista1 ul li a{
	text-decoration: none;
}
#lista1 ul li a:hover{
	color: red;
}


#lista1 span{ 
  font-size: 35px;
  margin-right: 15px;
}


#contenido h4{
	font-size: 30px;
	color: #6B6B6B;
}
#contenido h4 > span{
  font-size: 50px;
  margin-right: 15px;
  color:#31708f; 
}

#inf_personal p{
	font-size: 20px;
}
#body_estudios dt{
	text-align: left;
}
#body_estudios ul>li>h2{
	color: #6B6B6B;
	

}
#body_estudios dl>dt>p{
	color: #31708f;
	font-size: 16px;
}
#body_estudios dl>dt>p>span{
	color: #31708f;
	margin-right: 5px;
}
#body_estudios dl>dd{
	text-align: justify;
	font-size: 20px;
}







#body_laboral dt{
	text-align: left;
}
#body_laboral ul>li>h2{
	color: #31708f;
	

}
#body_laboral dl>dt>p{
	color: #31708f;
	font-size: 16px;
}
#body_laboral dl>dt>p>span{
	color: #31708f;
	margin-right: 5px;
}
#body_laboral dl>dd{
	text-align: justify;
	font-size: 20px;
}
